backend/model/vosk-model-ru-0.42/graph/phones/word_boundary.int filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/graph/phones/word_boundary.txt filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/am/frame_subsampling_factor filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/graph/num_pdfs filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/graph/phones/silence.csl filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/graph/phones/optional_silence.csl filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/am/final.mdl filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/conf/mfcc.conf filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/extra/golos_crowd.ref filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/graph/words.txt filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/graph/phones/optional_silence.int filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/README filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/am/tree filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/graph/HCLG.fst filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/extra/silero_youtube.ref filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/graph/phones/align_lexicon.int filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/graph/phones/align_lexicon.txt filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/graph/phones/disambig.txt filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/decode.py filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/conf/ivector_extractor.conf filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/graph/phones.txt filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/extra/sova_devices.ref filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/graph/disambig_tid.int filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/decoder-test.wav filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/extra/README filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/extra/silero_books.ref filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/conf/model.conf filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/extra/silero_calls.ref filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/conf/online.conf filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/graph/phones/disambig.int filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/graph/phones/optional_silence.txt filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/ivector/final.mat filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/ivector/global_cmvn.stats filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/ivector/online_cmvn.conf filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/ivector/splice.conf filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/ivector/final.dubm filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/ivector/final.ie filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/rescore/G.carpa filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/rescore/G.fst filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/rnnlm/features.txt filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/rnnlm/final.raw filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/rnnlm/oov.txt filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/rnnlm/special_symbol_opts.conf filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/rnnlm/special_symbol_opts.txt filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/rnnlm/unigram_probs.txt filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/rnnlm/word_feats.txt filter=lfs diff=lfs merge=lfs -text
backend/model/vosk-model-ru-0.42/rnnlm/feat_embedding.final.mat filter=lfs diff=lfs merge=lfs -text

